
/* semantic color variables for this project */
:root {
  --color-background: #e8e8e8;
  --color-text: #437c33;
  --color-btn-1: #73a563;
  --color-btn-1-hover: #699c58;
  --color-pale-green: #b3cdb3;
  --color-pale-red: #ed4c4c;
  --color-white: #ffffff;
  --color-grey: #ececec;
  --box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
button {
  border: none;
  cursor: pointer;
}
input{
  border: none;
}

